
  .btn {
    box-shadow: inset 0 -3px 7px 0 #333;
    background: linear-gradient(to bottom, #2e2e2e 5%, #212121 100%);
    background-color: #2e2e2e;
    border: 1px solid #adadad;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    padding: 12px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 #3d3d3d;
    text-align: center;
    margin: 6px
  }

  .btn:hover {
    background: linear-gradient(to bottom, #212121 5%, #2e2e2e 100%);
    background-color: #212121;
    color: #3e7ff9
  }

  .btn:active {
    position: relative;
    top: 1px
  }

  * {
    margin: 0;
    padding: 0;
    user-select: none
  }

  body {
    background: #222
  }

  .blueFont {
    font-family: sans-serif;
    color: #fff;
    text-shadow: 0 4px 3px rgba(0, 0, 0, .4), 0 8px 13px rgba(0, 0, 0, .8), 0 18px 23px rgba(0, 0, 0, .1)
  }

  h1 { /**/
    font-size: 100px
  }

  h2 {
    font-size: 20px;
    font-weight: lighter
  }

  h3 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: lighter
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  #title {
    top: 40%
  }

  #game {
    box-shadow: 11px 10px 34px 0 rgba(0, 0, 0, .75);
    background: #1c242e;
    width: 1280px;
    height: 720px;
    border: 1px solid grey
  }

  #loading {
    top: 53.4%
  }

  #menu {
    top: 70%
  }

  #menu .btn {
    margin-top: 20px;
    width: 200px;
    display: block
  }

  .hidden {
    visibility: hidden
  }

  #levelDone {
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 10px 34px -10px rgba(0, 0, 0, .75);
    width: 100%;
    padding: 80px 0 80px 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey
  }

  #levelDone a {
    margin-top: 20px
  }

  #content {
    position: absolute;
    width: 100%;
    height: 100%
  }

  #reset {
    position: absolute;
    left: 20px;
    bottom: 15px
  }

  #levelInfo {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 15px
  }

  #nodeInfo {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 15px
  }

  #description {
    width: 550px;
    text-align: center;
    top: 53%
  }

  .tutorial {
    position: absolute;
    right: 100px;
    top: 50px;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid #999;
    box-shadow: 11px 10px 34px 0 rgba(0, 0, 0, .75)
  }
